<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name=".WaterResourceActivity"
            android:exported="true"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.MDP.3" />

        <activity
            android:name=".AmazonLoginActivity"
            android:exported="true"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.MDP.32" />

    </application>

</manifest>