<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name=".ShoppingCategoryActivity"
            android:exported="true"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.MDP.4" />

        <activity
            android:name=".CreateAccountActivity"
            android:exported="true"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.MDP.4" />


        <activity
            android:name=".SignInActivity"
            android:exported="true"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.MDP.4" />
    </application>
</manifest>